
html{
  font-family: sans-serif;
  font-size: 16px;
}

header {
  height: 64px;
  background-color: #F8F6F6;
  display: flex;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 480px){
  .logo span{
    display:none;
  }
}

.logo img {
  padding-left: 24px;
}

.logo span {
  text-transform: uppercase;
}

.logo .colmar{
  font-weight: bold;
}

.logo .academy {
  font-weight: lighter;
}

.second-nav{
  display: none;
}

.main-nav{
  padding-left: 830px;
  padding-right: 16px;
  display: flex;
  text-align: right;
}

nav span{
  padding-right: 16px;
}

@media only screen and (max-width: 480px){
  .main-nav{
    display: none;
  }

  .second-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .second-nav img{
    padding: 45px;
  }
}

.banner img{
  width: 56%;
  padding: 32px 40px 32px 24px;
}

.banner{
  background-color: #C4C2C2;
  display: flex;
  align-items: center;
}

.rectangle{
  display: none;
}

@media only screen and (max-width: 480px){
  .main-banner{
    display: none;
  }

  .banner{
    height: 260px;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: lightgrey;
  }

  .banner h1{
    padding-bottom: 16px;
  }

  .banner h2{
    padding-bottom: 12px;
  }

  .button{
    padding-left: 32px;
    padding-right:32px;
  }

  .rectangle{
    display: flex;
    height: 180px;
    background-color: darkgrey;
  }
}

.banner h1,
.banner h2{
  color: #3A3737;
}

.banner h1{
  font-size: 2rem;
}

.banner h2{
  font-size: 1.5rem;
}

.button{
  background-color: #3A3737;
  color: #F8F6F6;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align:center;
  width: 80%;
}

.practicing-whole{
  background-color: #F8F6F6;
  display: flex;
  padding-left: 24px;
}

.practicing-left img{
  width: 82%;
  padding-top: 32px;
}

@media only screen and (max-width: 480px){
  .practicing-left{
    display:none;
  }
}

.practicing-left h4{
  color: #3A3737;
  font-size: 1.5rem;
}

.practicing-left h5{
  color: #6E6B6B;
  width: 82%;
  font-size: 0.75rem;
  font-weight: lighter;
}

.practicing-left h6{
  color: #3A3737
}

.practicing-right{
  background-color: #F8F6F6;
  width: 423px;
  border-left: 1px solid #999696;
}

@media only screen and (max-width: 480px){
  .practicing-right{
    border-left: none;
  }
}

.right-box{
  width: 423px;
  height: 168px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

.right-box img{
  width: 35%;
  padding: 16px;
}

@media only screen and (max-width: 480px){
  .right-box{
    width: 100%;
    display: inline-block;
    flex-direction: column;
  }

  .right-box h4,
  .right-box h5,
  .right-box h6{
    padding-left: 32px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .right-box img{
    width: 85%;
    height: 85%;
  }
}


.right-box h6{
  font-weight:lighter;
}

.right-box h5{
  font-weight:lighter;
  color: skyblue;
}
.start-learning{
  background-color:#c4c2c2;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.grid-1{
  background-color: #c4c2c2;
  padding-bottom: 32px;
  display: flex;
}

.grid-2{
  display: none;
}

@media only screen and (max-width: 480px){
  .grid-2{
    display: block;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 32px;
  }

  .grid-2 h4{
    padding: 24px;
    background-color: lightgrey;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: lighter;
    font-size: 1.25rem;
  }

  .start-learning{
    margin-top: 125px;
    background-color: white;
    border-top: 1px solid lightgrey;
  }

  .grid-1{
    display: none;
  }
}

.grid-1 h4{
  color: #3A3737;
}

.course-grid{
  background-color: white;
  margin-right: 16px;
  margin-left: 16px;
  width: 60%;
  justify-content: space-around;
  display: block;
}

.course-grid img{
  width: 100%;
  height: 100px;
  padding-bottom: 16px;
}

.course-grid span{
  padding-left: 16px;
  color: #6E6B6B;
}

.course-grid h6{
  padding-right: 16px;
  padding-left: 16px;
  color: #6E6B6B;
  font-weight: lighter;
}

.thesis{
  background-color:#F8F6F6;
  padding-bottom: 32px;
  display: flex;
}

.thesis-exhibit{
  display: flex;
  justify-content: center;
  background-color: #f8f6f6;
  font-size: 1.5rem;
  color: #3A3737;
}

.thesis-left span{
  color: #3a3737;
  display:block;
}

.thesis-left{
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.thesis-left video{
  width: 82%;
}
.thesis-left h5{
  color: #6E6B6B;
  width: 82%;
  font-size: 0.75rem;
  font-weight: lighter;
}

@media only screen and (max-width: 480px){
  .thesis-right{
    display: none;
  }

  .thesis-left h5,
  .thesis-left span{
    display: none;
  }
}

@media only screen and (max-width: 480px){
  .footer-nav{
    display: none;
  }

.footer{
  padding-top:32px;
 }
}


footer{
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.footer{
  padding-left: 24px;
  color: #6E6B6B;
  text-align: left;
  flex-grow: 1;
  font-size: 0.75rem;
  font-weight: lighter;
}

.footer-nav{
  text-align: right;
  color: #6E6B6B;
  font-size: 0.75rem;
  font-weight: lighter;
}
