
html{
  font-family: sans-serif;
}

header {
  height: 64px;
  background-color: #F8F6F6;
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 24px;
}

.logo span {
  text-transform: uppercase;
}

.logo .colmar{
  font-weight: bold;
}

.logo .academy {
  font-weight: lighter;
}
.second-nav{
  display: none;
}

nav span{
  padding-right: 16px;
  display: inline-block;
}

.banner img{
  width: 60%;
  height: 60%;
  padding: 32px 40px 32px 24px;
}

.banner{
  background-color: #C4C2C2;
  display: flex;
  align-items: center;
}

.banner h1,
.banner h2{
  color: #3A3737;

}

.button{
  background-color: #3A3737;
  color: #F8F6F6;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align:center;
  width: 80%;
}

.practicing-whole{
  background-color: #F8F6F6;
  display: flex;
  padding-left: 24px;
}

.practicing-left{
  width: 60%;
}
.practicing-left img{
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.practicing-left h4{
  color: #3A3737;
  padding-bottom: 24px;
}

.practicing-left h5{
  color: #6E6B6B;
}

.practicing-left h6{
  color: #3A3737
}

.practicing-right{
  background-color: #F8F6F6;
  width: 423px;
  border-left: 1px solid #999696;
  display: inline;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.practicing-right img{
  width: 35%;
  padding: 16px;
}

.practicing-right span{
  color: #3A3737;
  padding-bottom: 8px;
}

.read-more{
  color: blue;
}

.practicing-right h6{
  color: #6E6B6B;
  padding-bottom: 8px;
}

.guest-lecture{
  background-color: #999696;
}

.grid-1{
  background-color: #c4c2c2;
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-1 h4{
  color: #3A3737;
  padding-bottom: 32px;
  padding-top: 32px;
}

.course-grid{
  background-color: white;
  margin-right: 32px;
  width: 60%;
}

.course-grid img{
  width: 100%;
  height: 100px;
}

.course-grid span{
  padding-top: 16px;
  padding-left: 16px;
  color: #6E6B6B;
}

.course-grid h6{
  padding-top: 8px;
  padding-left: 16px;
  color: #6E6B6B;
}

.course-grid .courses{
  padding-top: 8px;
  padding-bottom: 24px;
}

.thesis{
  background-color:#F8F6F6;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.thesis h4{
  padding-bottom: 16px;
  color: #3A3737;
}

.thesis-left video{
  padding: 16px 24px 16px 24px;
}

.thesis-left span{
  color: #3a3737;
}

.thesis-left h5{
  color: #6E6B6B
}

.thesis-right{
  width: 423px;
  height: 168px;
  background-color:#F8F6F6;
}

.thesis-right img{
  padding: 16px;
  width: 35%;
}

.fisma{
  background-color: #999696;
}

.thesis-right span{
  color: #3A3737;
}

.thesis-right h6{
  color: #6E6B6B;
}

footer{
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.footer{
  padding-left: 24px;
  color: #6E6B6B;
  text-align: left;
  flex-grow: 1;
}

.footer-nav{
  text-align: right;
  color: #6E6B6B;
}
